.venue-container {
  /* background: url(/assets/background.jpg); */
  width: 100%;
  height: 600px;
  background-size: 100% 100% !important;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.king-heading {
  font-size: 64px;
  width: 100%;
  text-align: left;
  padding-left: 150px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  bottom: 80px;
  font-weight: 500;
}

.rating {
  background: url(/assets/rectangle-5.svg) no-repeat;
  width: 80px;
  height: 120px;
  background-size: 100% 100%;
  position: relative;
  bottom: 75px;
}

img.coffee-logo {
  position: relative;
  right: 140px;
  bottom: 115px;
}

.venue-deatail-container {
  width: 100%;
  height: 115px;
  bottom: 70px;
  position: relative;
  opacity: 0.8;
  background-image: linear-gradient(95deg, #1e0db4, #e34747);
  text-indent: 140px;
  padding: 20px 0px;
}

span.bar {
  width: 60px;
  position: relative;
  display: inline-block;
  border: 1px solid black;
  bottom: 3px;
  left: 5px;
}

span.bar:before {
  content: "";
  position: absolute;
  width: 30px;
  border: 1px solid #c3bfff;
  bottom: -1px;
  left: -1px;
}

.rating-container {
  float: right;
  position: relative;
  top: -98px;
  right: 20%;
}

.rating-container .text.mini {
  position: absolute;
  top: -4px;
  right: 29px;
  font-size: 18px;
}

.stats-container {
  display: flex;
}

.cafe-score {
  margin-left: -120px;
}

.venue-deatail-container>* {
  margin-bottom: 6px;
}

.venue-body-container {
  margin: 0 auto;
  max-width: 950px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 30px;
}

.venue-tips-container {
  width: 290px;
  max-height: 600px;
  object-fit: contain;
  background-color: #ffffff;
  box-shadow: 0 0 34px 0 rgba(115, 95, 255, 0.32);
  position: relative;
  bottom: 80px;
}

.venue-photos-container>ul {
  display: flex;
  flex-wrap: wrap;
}

.venue-photo-item {
  width: 290px;
  height: 290px;
  margin: 0px 10px 10px;
  background-color: rgba(18, 25, 95, 0.5);
}

.venue-photo-item>img {
  width: 100%;
  height: 100%;
}