.bottom-container{
  width: 100%;
}
.venue {
  width: 290px;
  height: 290px;
  margin: 0px 10px 10px;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  cursor:pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.venue:hover {
  box-shadow: 0 0 34px 0 rgba(255, 95, 95, 0.32)
}

.cafe-count-container{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cafe-name {
  font-size: 25px;
  position: relative;
  text-align: left;
  margin-bottom: 10px;
  overflow: hidden;
  width: 90%;
  padding-bottom: 10px;
}

.cafe-name:after {
  width: 48px;
  border: solid 1px #c3bfff;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}
.cafe-score{
  position: relative;
    right: 40px;
    left: -20px;
}
.cafe-rating{
  background: url(/assets/rectangle-5.svg) no-repeat;
  background-size: 100% 100%;
  width: 90px;
  height: 40px;
  position: relative;
  left: 5px;
}
.cafe-rating-number{
  position: relative;
  top: 20px;
  font-size: 15px;
  font-weight: 400;

}
span.bar {
  width: 60px;
  position:  relative;
  display:  inline-block;
  border: 1px solid black;
  bottom:  3px;
  left: 5px;
}
span.bar:before {
  content: "";
  position:  absolute;
  width: 30px;
  border:  1px solid #c3bfff;
  bottom: -1px;
  left: -1px;
}