<div *ngIf="venuePhoto" class="venue" (click)="openVenue(venue.venue.id)" [ngStyle]="{background: 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('+venuePhoto+')'}">
  <div class="bottom-container">
    <div class="cafe-name text">
        {{venue.venue.name}} 
    </div>
    <div class="cafe-count-container">
      <div class="cafe-users">
        <img src="/assets/ic-01.svg">
        <span class="text mini">123</span>
      </div>
      <div class="cafe-score">
        <img src="/assets/ic-02.svg">
        <span class="bar"></span>
      </div>
      <div class="cafe-rating text">
        <span class="cafe-rating-number">8.8</span>
      </div>
      </div>
  </div>
</div>