@font-face {
  font-family: gotham;
  font-weight: 700;
  src: url("/assets/fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: gotham;
  font-weight: 500;
  src: url("/assets/fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: gotham;
  font-weight: 400;
  src: url("/assets/fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: gotham;
  font-weight: 300;
  src: url("/assets/fonts/Gotham-Thin.otf") format("opentype");
}


* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Gotham', Courier, monospace
}
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
input {
  border-style: none;
  outline: none;
  padding: 0px 16px;
  font-size: 14px;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}

.text {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.main-heading {
  font-size: 55px;
}

.sub-heading {
  font-size: 16px;
}

.mini{
  font-size: 12px;
}

@media screen and (max-width: 500px){
  .home-container form > *{
    display: block;
    margin: 0 auto !important;
    position: relative;
    top: 20px;
    margin-top: 10px !important;
  }
  .home-container .search-form{
    margin-top: -40px !important;
  }
  .home-container .sub-heading{
    margin-top: 0px !important;
  }
  .home-container .large-logo{
    width: 230px !important;
    height: 100px !important;
    background: url(/assets/logo.svg) no-repeat !important;
    background-size: 100% 100% !important;
    max-width: 100% !important;
    margin-bottom: 30px !important;
  }
  .home-container #search-submit{
    position: relative;
    right: 10px;
    top: 5px;
  }

  app-venue-page .venue-deatail-container{
    text-indent: 0px !important; 
    padding: 20px 20px !important;
  }
  
}

@media screen and (max-width:992px){
  input{
    text-align: center;
  }
  input::-webkit-input-placeholder {
    text-align: center;
  }
  
  input::-moz-placeholder {
    text-align: center;
  }
  
  input:-ms-input-placeholder {
    text-align: center;
  }
  
  input:-moz-placeholder {
    text-align: center;
  }

  .after-search-header{
    height: 220px !important;
  }
  .after-search-header .small-logo{
    right: 0px !important;
  }
  .after-search-header .search-form > form{
    left: 0px !important;
  }
  .after-search-header .search-form > form > *{
    display: block;
    margin: 0 auto;
  }
  .after-search-header #search-in{
    margin-top: 20px;
  }
  .after-search-header .submit-container{
    position: relative;
    left: 5px !important;
  }
   .after-search-container{
    grid-template-columns: 1fr !important;
  }
  .after-search-container .search-grid{
    justify-content: center;
  }
  .after-search-container .recent-searches{
    left: 50%;
    position: relative;
    margin-left: -145px;
  }
  app-venue-page .venue-body-container {
    grid-template-columns: 1fr !important;
    justify-items: center;
  }
  app-venue-page .venue-tips-container{
    bottom: 0px !important;
    margin-top: 20px;
    justify-items: center;
  }
  app-venue-page .king-heading{
    padding: 0px !important;
    text-align: center !important;
    bottom: -0px !important;
  }
  app-venue-page .large-logo{
    width: 200px !important;
    height: 90px !important;
    background-size: 100% 100% !important;
  }
  app-venue-page .coffee-logo{
    right: 0px !important;
    bottom: 0px !important;
    width: 100px;
    height: 100px !important;
  }
  app-venue-page .venue-deatail-container{
    bottom: -15px !important;
  }
  app-venue-page .venue-container{
    height: 450px !important;
  }
}